<!DOCTYPE html>
<html lang="en">
<head>
<title>Get Review</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/style.css">
<!-- font family -->
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montez" rel="stylesheet">
<!-- font family end-->
</head>
<body>
<!-- top section -->
<div class="hmicondashbrd-p">
<a href="index.html"><i class="fa fa-home" aria-hidden="true"></i></a>
</div>
<div class="dashbrdlogut-p">
        <a href="index.html">Logout</a>
</div>
<div class="header-top">
<div class="container-fluid ppfluidwid-p">
  <div class="row">
<div class="col-md-4">
  <div class="menulog-p">
    <a href="javascript:void(0)" class="" onclick="openNavleft()">
                 <img id="toggle" class="" src="images/logo/list-menu.png" alt="">
        </a>
        <a href=""><i class="fa fa-search"></i></a>
    <div class="usrtxt-p">
      <p>Hi. Rajkumar Rao <a href="javascript:void(0);"><img src="images/login/logodwn.png"></a></p>
    </div>
  </div>
</div>
</div>
<!--  left menu overlay  -->
<div id="mySidenavleft" class="sidenavleft">
  <div class="seclogolog-p">
      <a href="index.html"><img  src="images/logo/a3.png"> </a>
  </div>
    <div class="seclogolog-p1">
    <a href="index.html">  <img  src="images/logo/a2.png"> </a>
  </div>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNavleft()">&times;</a>
      <ul class="pptpmargn-p">
              <li><a href="subject.html">Art &amp; Culture</a></li>
              <li><a href="subject.html">Current Affairs</a></li>
              <li><a href="subject.html">Economics</a></li>
              <li><a href="subject.html">Ecology</a></li>
              <li><a href="subject.html">Geography</a></li>
              <li><a href="subject.html">Polity</a></li>
              <li><a href="subject.html">Science</a></li>
              <li><a href="subject.html">Ancient  History</a></li>
              <li><a href="subject.html">Medieval History</a></li>
              <li><a href="subject.html">Modern History</a></li>
              <li><a href="subject.html">Social Issues</a></li>
              <li><a href="subject.html">International Relations</a></li>
              <li><a href="subject.html">Quantitative Aptitude</a></li>
              <li><a href="subject.html">Reasoning</a></li>
              <li><a href="subject.html">Comprehension</a></li>
              <li><a href="javascript:void(0);" onclick="openNavright()">Optional</a>
      </ul>
      <div class="social-linkmenu-p">
                    <ul>
                        <li><a href="#"><img src="images/svg/facebook-letter-logo.svg" alt=""></a></li>
                        <li><a href="#"><img src="images/svg/twitter-logo-silhouette.svg" alt=""></a></li>
                        <li><a href="#"><img src="images/svg/youtube-logo.svg" alt=""></a></li>
                        <li><a href="#"><img src="images/svg/telegram.svg" alt=""></a></li>
                    </ul>
                </div>
</div>
<!--  left menu overlay  -->

<!-- right menu overlay  -->
<div id="mySidenavright" class="sidenavright">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNavright()">&times;</a>
                                <ul class="col-md-4">
                                  <li><a href="subject.html">Agriculture</a></li>
                                  <li><a href="subject.html">Animal Hus & Vet. Sc.</a></li>
                                  <li><a href="subject.html">Agricultural Engineering</a></li>
                                  <li><a href="subject.html">Anthropology</a></li>
                                  <li><a href="subject.html">Botany</a></li>
                                  <li><a href="subject.html">Chemistry</a></li>
                                  <li><a href="subject.html">Chemical Engineering</a></li>
                                  <li><a href="subject.html">Civil Engineering</a></li>
                                  <li><a href="subject.html">Commerce & Accountancy</a></li>
                              </ul>
                              <ul class="col-md-4">
                  <li><a href="subject.html">Economics</a></li>
                                  <li><a href="subject.html">Electrical Engineering</a></li>
                                  <li><a href="subject.html">Forestry</a></li>
                                  <li><a href="subject.html">Geography</a></li>
                                  <li><a href="subject.html">Geology</a></li>
                                  <li><a href="subject.html">History</a></li> 
                                  <li><a href="subject.html">Law</a></li>
                                  <li><a href="subject.html">Management</a></li>
                                  <li><a href="subject.html">Mathematics</a></li>
               </ul>
               <ul class="col-md-4">
                                  <li><a href="subject.html">Mechanical Engineering</a></li>
                                  <li><a href="subject.html">Medical Science</a></li>                                 
                                  <li><a href="subject.html">Public Administration</a></li>
                                  <li><a href="subject.html">Philosophy</a></li>
                                  <li><a href="subject.html">Physics</a></li>
                                  <li><a href="subject.html">Political Science & IR</a></li>
                                  <li><a href="subject.html">Psychology</a></li>
                                  <li><a href="subject.html">Sociology</a></li>
                                  <li><a href="subject.html">Statistics</a></li>
                                  <li><a href="subject.html">Zoology</a></li>
                             </ul>
</div><!-- right menu overlay -->
</div>
</div><!-- top section end-->

<div class="container-fluid">
<div class="row">

<div class="col-md-9 lgh2css-p">
  <div class="advertise-p">
    <img src="images/login/a1.jpg">
  </div>
  <div class="confrm-p">
      <h2>Confirmation</h2>
  </div>
<div class="confrmmsg-p">
 <form class="form-horizontal">
  <div class="row">
    <div class="col-md-12">
    <p>This page will give confirmation that the answer has been submitted</p>
    <h3>Thank You !</h3>
    <p>Your answer has been submitted. In next few hours, evaluators will apply for evaluation.</p>
    <p>You will have an option to select Primary and Secondary Evaluators for your submitted answers</p>
    <p>Please select the best evaluator as per your discretion</p>
    <p>Once evaluators are assigned, evaluation will be done within 24 hours</p>
    <div class="attmptbtn-p">
      <a href="index.html" class="btn btn-default">Attempt More Questions ?</a>
    </div>
    </div>
  </div>
</form>
</div>
</div>

<div class="col-md-3">
<div class="mrbtmadvrt-p">
  <div class="ppfrstadvr-p">
    <img src="images/login/a2.jpg">
  </div>
  <div class="">
    <img src="images/login/a3.jpg">
  </div>
</div>
</div>
</div>
</div>

<!-- footer -->
<footer>
<div class="footer-top">
    <div class="blckovely-p">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h3>About us</h3>
                            <p>
                                We are a young company always looking for new and creative ideas to help you with our products in your everyday work.
                            </p>
                            <p>© Company Inc.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="addrs-p">
                            <h3>Contact</h3>
                                <p><i class="fa fa-map-marker"></i> Via Rossini 10, 10136 Turin Italy</p>
                                <p><i class="fa fa-phone"></i> (0039) 333 12 68 347</p>
                                <p><i class="fa fa-envelope"></i> <a href="mailto:hello@domain.com">hello@domain.com</a></p>
                                <p><i class="fa fa-skype"></i> Skype: you_online</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="lnkhead-p">
                                    <h3>Links</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="webnks-p">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Features</a></li>
                                        <li><a href="#">How it works</a></li>
                                        <li><a href="#">Our clients</a></li>
                                   </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="webnks-p">
                                        <li><a href="#">Plans &amp; pricing</a></li>
                                        <li><a href="#">Affiliates</a></li>
                                        <li><a href="#">Terms</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="footer-bottom-pp">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="socilnksp-p">
                                <ul>
                                     <li><a href="#"><i class="fa fa-facebook-f"></i></a>  </li>
                                     <li><a href="#"><i class="fa fa-twitter"></i></a>  </li>
                                     <li><a href="#"><i class="fa fa-google-plus"></i></a>  </li>
                                     <li><a href="#"><i class="fa fa-instagram"></i></a>  </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/getreview.js"></script> 
<!-- <script src="js/bootstrap.min.js"></script> -->
</body>
</html>